#home-container{
    display: flex;
    min-height: 100vh;
    #feed-posts{
        width: 70%;
        padding: 10px;
        li{
            margin: 10px;
        }

    }
    #user-friends{
        padding: 10px;
        width: 30%;
        border-left:1px solid #8892b0 ;
        p{
            margin: 10px;
        }

    }

}